Header {
    background-color: #C5EC8B;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.Subheader {
    margin: 0 auto;
    text-align: center;
    background-color: #DFE4DC;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    top: 20;
}

body{
    margin: 0px;
}

img {
    width: 50px;
    height: 50px;
}

.sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    background-color: #87BE5F;
    overflow-x: hidden;
    padding-top: 20px;

}

.sidenav a {
    background-color: #C5EC8B;
    border: none;
    color: #030303;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.sidenav a:active {
    background-color: #096C09;
}

.sidenav a:hover {
    background-color: #096C09;
}

button {
    background-color: #C5EC8B;
    border: none;
    color: #030303;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.buttonmatch {
    background-color: #C5EC8B;
    border: none;
    color: #030303;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 22.5%;
    margin-top: 2%;
}

.buttonchat {
    margin: auto;
    background-color: #C5EC8B;
    border: none;
    color: #030303;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 44.5%;
    margin-top: 2%;
    visibility:hidden;
}

.buttonsmall {
    background-color: #C5EC8B;
    border: none;
    color: #030303;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 10px 1px;
    cursor: pointer;
    border-radius: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 2%;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 5%;
    text-align: center;
}

.card {
    border: 0.5px solid #4f4f4f;
    padding: 2px 16px;
    transition: 0.3s;
    width: 25%;
    height: 30%;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pgreen {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #6CA055;

    line-height: 0.1;
}

.pred {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #E04242;

    line-height: 0.1;
}

.pyellow {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #E08F3E;
    font-weight: bold;
    line-height: 0.1;
}

.popup{
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    color: #030303;
}

.profile {
    border: 0.5px solid #4f4f4f;
    padding: 2px 16px;
    transition: 0.3s;
    width: 79%;
    height: 65%;
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 2%;
}

.matchcard {
    border: 0.5px solid #4f4f4f;
    padding: 2px 16px;
    margin:auto;
    margin-top: 12%;
    transition: 0.3s;
    width: 10%;
    height: 30%;
    border-radius: 10px;
}

.matchcard2 {
    border: 0.5px solid #4f4f4f;
    padding: 2px 16px;
    text-align: center;
    margin:auto;
    margin-top: 3%;
    transition: 0.3s;
    width: 25%;
    height: 30%;
    border-radius: 10px;
}
input {
    width:20%;

}

label{

}

